input {
  width: 100%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #1c1c1d;
  box-shadow: 0px 2px 0px 0px #202020;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.17px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #1d1d1d;
  outline: none;
}