@import "../../index.scss";

.stories {
  width: 100%;
  padding: 150px 0 120px 0;

  h2 {
    @include titles;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

.card {
    width: 100%;

  h4 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.625px;
    text-align: left;
  }

  p {
    @include normal-text;
    color: #474a57;
  }

  .card__date {
    margin-top: 15px;
    color: #1c1c1d;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.17px;
    letter-spacing: 0.5px;
    text-align: left;
  }
}

.card__image {
  border-radius: 10px;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1c1c1d;
  box-shadow: 0px 8px 0px 0px #202020;
}

.stories__items {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .stories__items {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .stories {
    padding: 30px 0;
  }
}